#include "windows.h"
#include "raswin.idm"

RasWinCursor CURSOR raswin.cur
RasWinIcon   ICON   raswin.ico
RasWinXDIcn  ICON   raswin_doc.ico
RasWinXSIcn  ICON   raswin_scr.ico

RasWinMenu MENU
BEGIN
    POPUP "&File" 
    BEGIN
        MENUITEM "&Open ...",       IDM_OPEN
        MENUITEM "&Information",    IDM_INFO
        MENUITEM "&Close",          IDM_CLOSE
        MENUITEM SEPARATOR
        MENUITEM "&Print",          IDM_PRINT
        MENUITEM "P&rint Setup...", IDM_SETUP
        MENUITEM SEPARATOR
        MENUITEM "E&xit",           IDM_EXIT
        MENUITEM SEPARATOR
        MENUITEM "1.",              IDM_MOL1
        MENUITEM "2.",              IDM_MOL2
        MENUITEM "3.",              IDM_MOL3
        MENUITEM "4.",              IDM_MOL4
        MENUITEM "5.",              IDM_MOL5
    END

    POPUP "&Edit"
    BEGIN
        MENUITEM "Select &All",    IDM_SELECT
        MENUITEM SEPARATOR
        MENUITEM "Cu&t",           IDM_CUT,    GRAYED
        MENUITEM "&Copy",          IDM_COPY
        MENUITEM "&Paste",         IDM_PASTE,  GRAYED
        MENUITEM "De&lete",        IDM_DELETE, GRAYED
    END

    POPUP "&Display"
    BEGIN
        MENUITEM "&Wireframe",     IDM_WIREFRAME
        MENUITEM "&Backbone",      IDM_BACKBONE
        MENUITEM "S&ticks",        IDM_STICKS
        MENUITEM "&Spacefill",     IDM_SPHERES
        MENUITEM "&Ball && Stick", IDM_BALLSTICK 
        MENUITEM "&Ribbons",       IDM_RIBBONS
        MENUITEM "Strands",        IDM_STRANDS
        MENUITEM "&Cartoons",      IDM_CARTOONS
        MENUITEM "&Molecular Surface", IDM_MOLSURF
    END

    POPUP "&Colours"
    BEGIN
        MENUITEM "&Monochrome",    IDM_MONO
        MENUITEM "&CPK",           IDM_CPK
        MENUITEM "&Shapely",       IDM_SHAPELY
        MENUITEM "&Group",         IDM_GROUP
        MENUITEM "C&hain",         IDM_CHAIN
        MENUITEM "&Temperature",   IDM_TEMPER
        MENUITEM "St&ructure",     IDM_STRUCT
        MENUITEM "&User",          IDM_USER
        MENUITEM "Mo&del",         IDM_MODEL
        MENUITEM "&Alt",           IDM_ALT
    END

    POPUP "&Options"
    BEGIN
        MENUITEM "&Slab Mode",     IDM_SLAB,      CHECKED
        MENUITEM "H&ydrogens",     IDM_HYDROGEN,  CHECKED
        MENUITEM "He&tero Atoms",  IDM_HETERO,    CHECKED
        MENUITEM "S&pecular",      IDM_SPECULAR,  CHECKED
        MENUITEM "S&hadows",       IDM_SHADOW,    CHECKED
        MENUITEM "S&tereo",        IDM_STEREO,    CHECKED
        MENUITEM "&Labels",        IDM_LABELS,    CHECKED
    END

    POPUP "&Settings"
    BEGIN
        MENUITEM "Pick Off",       IDM_PKNONE
        MENUITEM "Pick Ident",     IDM_PKIDENT
        MENUITEM "Pick Distance",  IDM_PKDIST
        MENUITEM "Pick Monitor",   IDM_PKMONIT
        MENUITEM "Pick Angle",     IDM_PKANGLE
        MENUITEM "Pick Torsion",   IDM_PKTORSN
        MENUITEM "Pick Label",     IDM_PKLABEL
        MENUITEM "Pick Centre",    IDM_PKORIGN
        MENUITEM "Pick Coord",     IDM_PKCOORD
        MENUITEM "Pick Bond",      IDM_PKBOND
        MENUITEM "Rotate Bond",    IDM_RTBOND
        MENUITEM "Rotate Mol",     IDM_RTMOL
        MENUITEM "Rotate All",     IDM_RTALL
    END

    POPUP "&Export"
    BEGIN
        MENUITEM "&BMP ...",          IDM_BMP
        MENUITEM "&GIF ...",          IDM_GIF
        MENUITEM "IRIS &RGB ...",     IDM_IRIS
        MENUITEM "PP&M ...",          IDM_PPM
        MENUITEM "&Sun Raster...",    IDM_RAST
        MENUITEM "&PostScript...",    IDM_EPSF
        MENUITEM "P&ICT...",          IDM_PICT
        MENUITEM "&Vector PS ...",    IDM_VECPS
        MENUITEM "M&olscript ...",    IDM_MOLSCRIPT
        MENUITEM "&Kinemage ...",     IDM_KINEMAGE
        MENUITEM "PO&VRay 3 ...",     IDM_POVRAY
        MENUITEM "VRM&L ...",         IDM_VRML
        MENUITEM "Ram&achandran ...", IDM_RPP
        MENUITEM "Raster3D ...",      IDM_R3D
        MENUITEM "RasMol Script ...", IDM_SCR
    END

    POPUP "&Help"
    BEGIN
        MENUITEM "&About RasMol",     IDM_SPLASH
        MENUITEM "&User Manual",      IDM_RMANUAL
        MENUITEM "&Register",         IDM_REGISTER
        MENUITEM "&Donate",           IDM_DONATE
    END
END



AboutBox DIALOG 25, 20, 260, 116
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About RasMol"
FONT 8,"Tahoma,Arial,Helv,sans"
BEGIN
    ICON "RasWinIcon" -1, 16, 16, 0, 0, SS_ICON
    CTEXT "RasWin Molecular Graphics"       -1, 80,  5, 100, 8
    CTEXT "http://www.rasmol.org/"          -1, 80,  14, 100, 8
    CTEXT "Copyright (C) R.Sayle 1992-1999" -1, 80,  25, 100, 8
    CTEXT "Windows Version 2.7.5.2"           -1, 80,  34, 100, 8
    CTEXT "Copyright (C) H. Bernstein 1998-2011" -1, 80,  43, 100, 8
    CTEXT "yaya@bernstein-plus-sons.com"    -1, 60,  52, 140, 8
    CTEXT "" IDD_HARDWARE,                      40,  70, 180, 8
    CTEXT "No Warranty, Open Source, GPL, Donations Appreciated", IDD_WARRANTY, 0, 79, 260, 8
    DEFPUSHBUTTON "OK" IDOK, 115, 88, 30, 14, WS_TABSTOP
    PUSHBUTTON "REGISTER" IDM_REGISTER, 32, 88, 81, 14, WS_TABSTOP
    PUSHBUTTON "DONATE" IDM_DONATE, 147, 88, 81, 14, WS_TABSTOP
    AUTOCHECKBOX "Do not show this dialog on startup", IDD_NOSHOW, 32, 106, 180, 8
END


InfoBox DIALOG 25, 20, 260, 114
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Molecule Information"
FONT 8,"Tahoma,Arial,Helv,sans"    
BEGIN
    ICON "RasWinIcon" -1, 2, 2, 0, 0, SS_ICON
    CTEXT "RasWin Molecular Graphics"   -1, 25,  5, 175, 8
    CTEXT "Windows Ver 2.7.5.2"           -1, 25, 14, 175, 8
    DEFPUSHBUTTON "OK" IDOK, 81, 96, 32, 14, WS_GROUP

    LTEXT "" IDD_INFOTEXT1, 0,  32, 260, 8, SS_LEFTNOWORDWRAP
    LTEXT "" IDD_INFOTEXT2, 0,  41, 260, 8, SS_LEFTNOWORDWRAP
    LTEXT "" IDD_INFOTEXT3, 0,  50, 260, 8, SS_LEFTNOWORDWRAP
    LTEXT "" IDD_INFOTEXT4, 0,  59, 260, 8, SS_LEFTNOWORDWRAP
    LTEXT "" IDD_INFOTEXT5, 0,  68, 260, 8, SS_LEFTNOWORDWRAP
    LTEXT "" IDD_INFOTEXT6, 0,  77, 260, 8, SS_LEFTNOWORDWRAP
    LTEXT "" IDD_INFOTEXT7, 0,  86, 260, 8, SS_LEFTNOWORDWRAP
END

